<div class="container">
	<div class="row-fluid">
		<div class="spacer-20"></div>
		<div class="well">
			<h1 id="title">striving for something better.</h1>
			<h2 id="paragraph">Solixir’s founder Scott Lerner created Solixir in 2008 because he wanted something that wasn’t out there; a functional drink that was all natural and healthy.

			During Scott’s early morning exercise workouts, he was relegated to drinking sugary and highly caffeinated energy drinks. When he searched for an alternative, there were no options to be found. So rather than being frustrated with the lack of drink choices, Scott quit his job with one of the “big guys” in the beverage industry, took his knowledge and experience, and started Solixir. Constructing the perfect functional drink was no easy task. It took time and an expert team to put the right formulas together. The drinks had to be all natural with no sugar added. And most importantly, they needed to have the right ingredients in the right amounts, so they could be both healthy and effective. Adding trace amounts of ingredients, a misleading, drink-industry practice called “Fairy Dusting”, was not going to produce the type of quality Scott was looking for. So he used fruit juice and the perfect combinations of botanicals to great a drink that met his expectations and tasted great. 

			Finally, Scott knew he needed more than just “energy” to be productive during the day. That is why the team created four situation-specific formulas to help get you through your workday. We think we succeeded in coming up with the perfect functional drink. We hope you like it!</h2>
		</div>
	</div>
</div>