<div class="container">
	<div class="row-fluid">
		<h1 id="title">Buy our products online!</h1>
		<div align="center">
		<div class="hidden-phone">
			<form class="form-horizontal" id="buynow">
			<div class="span4">
					<input type="checkbox" name="Solixir" value="6pack">
						<label id="label">Six pack of Solixir Awaken - $12</label><br>
					<div class="spacer-10"></div>
						<input type="checkbox" name="Solixir" value="6pack">
						<label id="label">Six pack of Solixir Relax - $12 </label><br>
					<div class="spacer-10"></div>
					<input type="checkbox" name="Solixir" value="6pack">
					<label id="label">Six pack of Solixir Restore - $12</label><br>
					<div class="spacer-10"></div>
					<input type="checkbox" name="Solixir" value="6pack">
					<label id="label">Six pack of Solixir Think - $12</label><br>
			</div>

				<div class="span4">
					<input type="checkbox" name="Solixir" value="12pack">Twelve pack of Solixir Awaken - $24<br>
					<div class="spacer-10"></div>
					<input type="checkbox" name="Solixir" value="12pack">Twelve pack of Solixir Relax - $24<br>
					<div class="spacer-10"></div>
					<input type="checkbox" name="Solixir" value="12pack">Twelve pack of Solixir Restore - $24 <br>
					<div class="spacer-10"></div>
					<input type="checkbox" name="Solixir" value="24pack">Twelve pack of Solixir Think- $24<br>
				</div>
				<div class="span4">
					<input type="checkbox" name="Solixir" value="24pack">Twenty Four pack of Solixir Awaken - $36<br>
					<div class="spacer-10"></div>
					<input type="checkbox" name="Solixir" value="24pack">Twenty Four pack of Solixir Relax - $36 <br>
					<div class="spacer-10"></div>
					<input type="checkbox" name="Solixir" value="24pack">Twenty Four pack of Solixir Restore - $36 <br>
					<div class="spacer-10"></div>
					<input type="checkbox" name="Solixir" value="24pack">Twenty Four pack of Solixir Restore - $36 <br>
				</div>
			</form>
		</div>
		</div>
			<div class="visible-phone">
			<form class="form-horizontal" id="buy-now">
			<div class="span2">
					<input type="checkbox" name="vehicle" value="Bike">I have a bike<br>
					<div class="spacer-10"></div>
					<input type="checkbox" name="vehicle" value="Car">I have a car <br>
					<div class="spacer-10"></div>
					<input type="checkbox" name="vehicle" value="Car">I have a car <br>
			</div>

				<div class="span2">
					<input type="checkbox" name="vehicle" value="Bike">I have a bike<br>
					<div class="spacer-10"></div>
					<input type="checkbox" name="vehicle" value="Car">I have a car <br>
					<div class="spacer-10"></div>
					<input type="checkbox" name="vehicle" value="Car">I have a car <br>
			</div>
				<div class="span2">
					<input type="checkbox" name="vehicle" value="Bike">I have a bike<br>
					<div class="spacer-10"></div>
					<input type="checkbox" name="vehicle" value="Car">I have a car <br>
					<div class="spacer-10"></div>
					<input type="checkbox" name="vehicle" value="Car">I have a car <br>
				</div>
			</form>
		</div>
	</div>
</div>
