<div class="container">
	<div class="row-fluid">
		<h1 id="title">Buy our products online!</h1>
		<h2 id="subtitle">Select products to add to your shopping cart</h2>
		<div align="center">
		<div class="hidden-phone">
			<form class="form-horizontal" id="buynow">
			<div class="span4">
						<input type="checkbox" name="Solixir" value="6pack">
						<label id="label">Six pack of Solixir Awaken - $12</label><br>
						<img src="/img/awaken_can.png" width="50px">
					<div class="spacer-10"></div>
						<input type="checkbox" name="Solixir" value="6pack">
						<label id="label">Six pack of Solixir Relax - $12 </label><br>
						<img src="/img/relax_can.png" width="50px">
					<div class="spacer-10"></div>
						<input type="checkbox" name="Solixir" value="6pack">
						<label id="label">Six pack of Solixir Restore - $12</label><br>
						<img src="/img/restore_can.png" width="50px">
					<div class="spacer-10"></div>
						<input type="checkbox" name="Solixir" value="6pack">
						<label id="label">Six pack of Solixir Think - $12</label><br>
						<img src="/img/think_can.png" width="50px">
			</div>

				<div class="span4">
						<input type="checkbox" name="Solixir" value="12pack">
						<label id="label">Twelve pack of Solixir Awaken - $24<label><br>
							<img src="/img/awaken_can.png" width="50px">
					<div class="spacer-10"></div>
						<input type="checkbox" name="Solixir" value="12pack">
						<label id="label">Twelve pack of Solixir Relax - $24</label><br>
						<img src="/img/relax_can.png" width="50px">
					<div class="spacer-10"></div>
						<input type="checkbox" name="Solixir" value="12pack">
						<label id="label">Twelve pack of Solixir Restore - $24</label> <br>
						<img src="/img/restore_can.png" width="50px">

					<div class="spacer-10"></div>
						<input type="checkbox" name="Solixir" value="24pack">
						<label id="label">Twelve pack of Solixir Think- $24</label><br>
						<img src="/img/think_can.png" width="50px">
				</div>
				<div class="span4">
						<input type="checkbox" name="Solixir" value="24pack">
						<label id="label">Twenty Four pack of Solixir Awaken - $36</label><br>
						<img src="/img/awaken_can.png" width="50px">
					<div class="spacer-10"></div>
						<input type="checkbox" name="Solixir" value="24pack">
						<label id="label">Twenty Four pack of Solixir Relax - $36</label> <br>
						<img src="/img/relax_can.png" width="50px">
					<div class="spacer-10"></div>
					<input type="checkbox" name="Solixir" value="24pack">
					<label id="label">Twenty Four pack of Solixir Restore - $36</label> <br>
					<img src="/img/restore_can.png" width="50px">
					<div class="spacer-10"></div>
					<input type="checkbox" name="Solixir" value="24pack">
					<label id="label">Twenty Four pack of Solixir Restore - $36</label> <br>
					<img src="/img/think_can.png" width="50px">
				</div>
				<a href="/checkout"><button class="btn btn-primary btn4">Checkout</button></a>
			</form>
		</div>
		</div>
			<div class="visible-phone">
			<form class="form-horizontal" id="buy-now">
				<div class="span4">
						<input type="checkbox" name="Solixir" value="6pack">
						<label id="label">Six pack of Solixir Awaken - $12</label><br>
						<div class="well well2">
							<div align="center">
								<img src="/img/awaken_can.png" width="50px">
							</div>
						</div>
					<div class="spacer-10"></div>
						<input type="checkbox" name="Solixir" value="6pack">
						<label id="label">Six pack of Solixir Relax - $12 </label><br>
						<div class="well well2">
							<div align="center">
								<img src="/img/relax_can.png" width="50px">
							</div>
						</div>
					<div class="spacer-10"></div>
						<input type="checkbox" name="Solixir" value="6pack">
						<label id="label">Six pack of Solixir Restore - $12</label><br>
						<div class="well well2">
							<div align="center">
								<img src="/img/restore_can.png" width="50px">
							</div>
						</div>
					<div class="spacer-10"></div>
						<input type="checkbox" name="Solixir" value="6pack">
						<label id="label">Six pack of Solixir Think - $12</label><br>
						<div class="well well2">
							<div align="center">
								<img src="/img/think_can.png" width="50px">
							</div>
						</div>
					</div>

				<div class="span4">
						<input type="checkbox" name="Solixir" value="12pack">
						<label id="label">Twelve pack of Solixir Awaken - $24<label><br>
						<div class="well well2">
							<div align="center">
								<img src="/img/awaken_can.png" width="50px">
							</div>
						</div>
					<div class="spacer-10"></div>
						<input type="checkbox" name="Solixir" value="24pack">
						<label id="label">Twelve pack of Solixir Relax - $24</label><br>
						<div class="well well2">
							<div align="center">
								<img src="/img/relax_can.png" width="50px">
							</div>
						</div>
					<div class="spacer-10"></div>
						<input type="checkbox" name="Solixir" value="24pack">
						<label id="label">Twelve pack of Solixir Restore - $24</label> <br>
						<div class="well well2">
							<div align="center">
								<img src="/img/restore_can.png" width="50px">
							</div>
						</div>

					<div class="spacer-10"></div>
						<input type="checkbox" name="Solixir" value="24pack">
						<label id="label">Twelve pack of Solixir Think- $24</label><br>
						<div class="well well2">
							<div align="center">
								<img src="/img/think_can.png" width="50px">
							</div>
						</div>
				</div>
				<div class="span4">
						<input type="checkbox" name="Solixir" value="24pack">
						<label id="label">Twenty Four pack of Solixir Awaken - $36</label><br>
						<div class="well well2">
							<div align="center">
								<img src="/img/awaken_can.png" width="50px">
							</div>
						</div>
					<div class="spacer-10"></div>
						<input type="checkbox" name="Solixir" value="24pack">
						<label id="label">Twenty Four pack of Solixir Relax - $36</label> <br>
						<div class="well well2">
							<div align="center">
								<img src="/img/relax_can.png" width="50px">
							</div>
						</div>
					<div class="spacer-10"></div>
					<input type="checkbox" name="Solixir" value="24pack">
					<label id="label">Twenty Four pack of Solixir Restore - $36</label> <br>
					<div class="well well2">
							<div align="center">
								<img src="/img/restore_can.png" width="50px">
							</div>
					</div>
					<div class="spacer-10"></div>
					<input type="checkbox" name="Solixir" value="24pack">
					<label id="label">Twenty Four pack of Solixir Restore - $36</label> <br>
					<div class="well well2">
							<div align="center">
								<img src="/img/think_can.png" width="50px">
							</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
