<script>
$('#myModal').modal('toggle')
</script>

<script>
$('#myModal2').modal('toggle')
</script>

<script>
$('#myModal3').modal('toggle')
</script>

<script>
$('#myModal4').modal('toggle')
</script>

<script>
$('#myModal5').modal('toggle')
</script>

<script>
$('#myModal6').modal('toggle')
</script>

<script>
$('#myModal7').modal('toggle')
</script>




<div class="hidden-phone">
<div class="container">
	<div class="row-fluid">
		<div class="spacer-30"></div>
		<h1 id="caption">Select a can to learn more.</h1>
		<div class="spacer-30"></div>
		<div align="center">
			<div id="images">
				<a href="#myModal" role="button" class="btn" data-toggle="modal"><img src="/img/awaken_can.png"></a>
				<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    <h3 id="myModalLabel">GRAB SOME GET GOING.</h3>
				  </div>
				  <div class="modal-body">
				  	<div class="span4">
				  		<img src="/img/awaken_can.png" width="140px">
				  	</div>
				  	<div class="span4">
					    <p>
						The yawns always come when you need to be on your game. But the spike and crash of other energy drinks can put you in an energy shortage. Awaken provides a gentle, natural lift that helps you come alive without that impending dive. Low in caffeine, its effective amounts of all natural ingredients that gives you a healthy lift. Drink Awaken and choose a smarter way to get your mojo back.</p>
					</div>
					<div class="span4">
						<img src="/img/relax_cal.png">
					</div>
				  </div>
				  	<div class="modal-footer">
				    	<button class="btn1" data-dismiss="modal" aria-hidden="true">Close</button>
		  			</div>
				</div>
			
			<a href="#myModal2" role="button" class="btn" data-toggle="modal"><img src="/img/think_can.png"></a>
				<div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				 <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    <h3 id="myModalLabel">UNSTUCK YOUR BRAIN</h3>
				  </div>
				  <div class="modal-body">
				  	<div class="span4">
				  		<img src="/img/think_can.png" width="140px">
				  	</div>
				  	<div class="span4">
				   		 <p> We sit. We stare. We stop. We start. Just as your energy levels rise and fall, so does your power to concentrate, whatever the task. Made with effective amounts of all natural ingredients, Think helps you focus throughout the day. What's more precious when the pressure is on? So grab this drink when "the think" is what you need most.</p>
					</div>
					<div class="span4">
					    	<img src="/img/relax_cal.png">
						</div>
				  </div>
				  <div class="modal-footer">
				    <button class="btn1" data-dismiss="modal" aria-hidden="true">Close</button>
		  		</div>
			</div>

				<a href="#myModal3" role="button" class="btn" data-toggle="modal"><img src="/img/restore_can.png"></a>
				<div id="myModal3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				 <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    <h3 id="myModalLabel">BOLSTER YOUR BOUNCE BACK</h3>
				  </div>
				  <div class="modal-body">
				  	<div class="span4">
				  		<img src="/img/restore_can.png" width="140px">
				  	</div>
					  	<div class="span4">
					    <p>Hear a sneeze over your shoulder? Is that run-down feeling coming on? That’s when you open a can of Restore. Restore's effective amounts of all natural ingredients not only revives, it helps support your immune system, making it preventative as well. So whether you are working at home, on the job-site, or in the office, reach for Restore to revitalize your body and boost your way back to top performance.</p>
						</div>
						<div class="span4">
					    	<img src="/img/restore_cal.png">
						</div>
				  </div>
				  <div class="modal-footer">
				    <button class="btn1" data-dismiss="modal" aria-hidden="true">Close</button>
		  		</div>
			</div>

				<a href="#myModal4" role="button" class="btn" data-toggle="modal"><img src="/img/relax_can.png"></a>
				<div id="myModal4" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				 <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    <h3 id="myModalLabel">DEEP BREATHING IN A CAN.</h3>
				  </div>
				  <div class="modal-body">
				  	<div class="span4">
						<img src="/img/relax_can.png" width="140px">
					</div>
				  	<div class="span4">
				    <p>Letting it all go. Finding your calm. It’s as important as gearing up and getting things done. But during a busy day, unwinding is not always so easy. Relax is a soothing blend of effective amounts of all natural ingredients, designed to help relieve your stress and ease you back to a place of balance. So drink, relax, and smile on the inside.</p>
					</div>
					<div class="span4">
				    <img src="/img/relax_cal.png">
					</div>
				  </div>
				  <div class="modal-footer">
				    <button class="btn1" data-dismiss="modal" aria-hidden="true">Close</button>
		  		</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>


<script>
$('#myModal1').modal('toggle')
</script>
<div class="visible-phone">
<div class="container">
	<div class="row-fluid">
		<h1 id="phone-caption">Select a can to learn more.</h1>
		<div align="center">
			<div id="images">
				<a href="#myModal1" role="button" class="btn" data-toggle="modal"><img src="/img/awaken_can.png" width="100px"></a>
				<div id="myModal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    <h3 id="myModalLabel1">GRAB SOME GET GOING.</h3>
				  </div>
				  <div class="modal-body">

				     <p>
					The yawns always come when you need to be on your game. But the spike and crash of other energy drinks can put you in an energy shortage. Awaken provides a gentle, natural lift that helps you come alive without that impending dive. Low in caffeine, its effective amounts of all natural ingredients that gives you a healthy lift. Drink Awaken and choose a smarter way to get your mojo back.</p>
				  </div>
				  	<div class="modal-footer">
				    	<button class="btn1" data-dismiss="modal" aria-hidden="true">Close</button>
		  			</div>
				</div>
			
			<a href="#myModal5" role="button" class="btn" data-toggle="modal"><img src="/img/think_can.png" width="100px"></a>
				<div id="myModal5" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				 <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    <h3 id="myModalLabel1">UNSTUCK YOUR BRAIN</h3>
				  </div>
				  <div class="modal-body">
				    <p> We sit. We stare. We stop. We start. Just as your energy levels rise and fall, so does your power to concentrate, whatever the task. Made with effective amounts of all natural ingredients, Think helps you focus throughout the day. What's more precious when the pressure is on? So grab this drink when "the think" is what you need most.</p>
				  </div>
				  <div class="modal-footer">
				    <button class="btn1" data-dismiss="modal" aria-hidden="true">Close</button>
		  		</div>
			</div>

				<a href="#myModal6" role="button" class="btn" data-toggle="modal"><img src="/img/restore_can.png" width="100px"></a>
				<div id="myModal6" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				 <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    <h3 id="myModalLabel1">BOLSTER YOUR<br> BOUNCE BACK.</h3>
				  </div>
				  <div class="modal-body">
				    <p>Hear a sneeze over your shoulder? Is that run-down feeling coming on? That’s when you open a can of Restore. Restore's effective amounts of all natural ingredients not only revives, it helps support your immune system, making it preventative as well. So whether you are working at home, on the job-site, or in the office, reach for Restore to revitalize your body and boost your way back to top performance.</p>
				  </div>
				  <div class="modal-footer">
				    <button class="btn1" data-dismiss="modal" aria-hidden="true">Close</button>
		  		</div>
			</div>

				<a href="#myModal7" role="button" class="btn" data-toggle="modal"><img src="/img/relax_can.png" width="100px"></a>
				<div id="myModal7" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				 <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    <h3 id="myModalLabel1">DEEP BREATHING<br>IN A CAN.</h3>
				  </div>
				  <div class="modal-body">
				    <p>Letting it all go. Finding your calm. It’s as important as gearing up and getting things done. But during a busy day, unwinding is not always so easy. Relax is a soothing blend of effective amounts of all natural ingredients, designed to help relieve your stress and ease you back to a place of balance. So drink, relax, and smile on the inside.</p>
				  </div>
				  <div class="modal-footer">
				    <button class="btn1" data-dismiss="modal" aria-hidden="true">Close</button>
		  		</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<!-- <div class="container">
	<div class="row-fluid">
		<div align="center">
		<div id="images">
			<img src="/img/awaken_can.png"/>
			<img src="/img/think_can.png"/>
			<img src="/img/restore_can.png"/>
			<img src="/img/relax_can.png"/>
		</div>
	</div>
	</div>
</div> -->