<div class="container">
	<div class="row-fluid">
		<div class="span6">
			<div class="spacer-20"></div>
			<h1 id="title">Find a store </h1>
			<div class="spacer-20"></div>
				<form class="form-horizontal" id="storefinder">
					<input type="text" class="btn-block" id="address1" placeholder="enter address" />
					<div class="spacer-20"></div>
					<input type="text" class="btn-block" id="zip1" placeholder="enter zip" />
					<div class="spacer-20"></div>
					<div id="dropdown">
				      <select id="miles" name="miles" class="btn-block" >
						<option value ="">Show stores within:</option>        
						<option value ="">5 miles</option>
						<option value ="">10 miles</option>
						<option value ="">15 miles</option>
						<option value ="">20 miles</option>
						<option value ="">25 miles</option>
				     </select>
				    </div>
				    <div class="spacer-20"></div>
				    <button class="btn3 btn-block btn-primary">Go</button>
				</form>
			</div>
			<div class="spacer-20"></div>
			<div class="hidden-phone">
				<div class="span6">
					<div id="googlemap">
						<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=google+maps&amp;aq=f&amp;ie=UTF8&amp;hl=en&amp;hq=google+maps&amp;hnear=Chicago,+Illinois&amp;ll=41.891864,-87.665663&amp;spn=0.20255,0.100188&amp;t=m&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=google+maps&amp;aq=f&amp;ie=UTF8&amp;hl=en&amp;hq=google+maps&amp;hnear=Chicago,+Illinois&amp;ll=41.891864,-87.665663&amp;spn=0.20255,0.100188&amp;t=m&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
					</div>
				</div>
			</div>
			<div align="center">
			<div class="visible-phone">
				<div class="span6">
					<iframe width="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=google+maps&amp;aq=f&amp;ie=UTF8&amp;hl=en&amp;hq=google+maps&amp;hnear=Chicago,+Illinois&amp;ll=41.891864,-87.665663&amp;spn=0.20255,0.100188&amp;t=m&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=google+maps&amp;aq=f&amp;ie=UTF8&amp;hl=en&amp;hq=google+maps&amp;hnear=Chicago,+Illinois&amp;ll=41.891864,-87.665663&amp;spn=0.20255,0.100188&amp;t=m&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>