<div class="container">
	<div class="row-fluid">
		<div align="center">
		<div id="images">
			<img src="/img/workingdead1.png"/>
			<img src="/img/workingdead2.png"/>
			<img src="/img/workingdead3.png"/>
			<img src="/img/workingdead4.png"/>
		</div>
	</div>
	</div>
</div> 