<div class="container">
	<div class="row-fluid">
		<div align="center">
			<h1 id="title">The cases of the Walking Dead</h1>
		</div>
		<div class="spacer-20"></div>
		<div align="center">
		<div id="images">
			<img src="/img/workingdead1.png"/>
			<img src="/img/workingdead2.png"/>
			<img src="/img/workingdead3.png"/>
			<img src="/img/workingdead4.png"/>
		</div>
	</div>
	</div>
</div> 