<div class="hidden-phone">
	<div align="center">
		<div class="footer">
			By: Sidra Bhatti. DePaul HCI 530 extra credit. This site was made for educational purposes only.  I have no affiliation with Solixir.
		</div>
	</div>
</div>

<div class="visible-phone">
	<div align="center">
		<div class="footer1">
			By: Sidra Bhatti. DePaul HCI 530 extra credit. This site was made for educational purposes only.  I have no affiliation with Solixir. Find me on <a href="https://github.com/sbhatti54/extracredit"> GitHub</a>.
		</div>
	</div>
</div>